.edit-image {
  display: block;
}

.edit-image-form {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
  .form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
  }
  textarea {
    font-family: sans-serif;
    height: 100px;
    font-size: 20px;
    resize: none;
  }
  #submit, #cancel {
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin-right: 10px;
  }
}