.image {
  display: block;
}

.helper-link {
  font-size: x-small;
  font-family: sans-serif;
  margin-left: 5px;
  font-weight: 500;
}

@media only screen and (max-width: 550px) {
  .image {
    height: auto;
    width: 100%;
    margin: 0 auto;
  }
}
