.icons {
  a {
    font-size: 30px;
    margin-right: 10px;
    color: #e0e0e0;
    text-decoration: none;
  }
}

.frame {
  margin-bottom: 20px;
}

.pagination {
  margin: 10px 0px;
  padding: 0px 5px;
  a {
    font-size: 20px;
    margin-right: 10px;
  }
}