nav {
  display: flex;
  padding: 20px 5px;
  position: sticky;
  top: 0px;
  background: white;
  a {
    font-size: 30px;
    text-decoration: none;
    color: black;
  }
  .header {
    width: 80%;
  }
  .icons {
    width: 20%;
    display: flex;
    justify-content: space-around;
    a {
      font-size: 30px;
      text-decoration: none;
      color: black;
    }
  }
}