.new-image-form {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  .form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    label {
      font-size: x-large;
      margin-bottom: 5px;
    }
    input {
      height: 25px;
      font-size: 20px;
    }
    textarea {
      font-family: sans-serif;
      height: 100px;
      font-size: 20px;
      resize: none;
    }
    #submit {
      width: 100px;
      height: 40px;
    }
  }
}
