.loading-header {
  font-size: x-large;
}

.search-form {
  display: flex;
  flex-direction: column;
  .form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    #search {
      height: 50px;
      font-size: 20px;
      width: 100%;
      padding: 0px;
      border: 1px solid black;
      background: white;
      box-sizing: border-box;
    }
  }
}

.result {
  p {
    font-size: large;
    margin: 5px 0px;
  }
}

.preview-image {
  width: 100%;
  margin: 10px 0px;
}

.result-links {
  display: flex;
  width: 80px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}