.search-header {
  font-size: x-large;
}

.search-form {
  display: flex;
  flex-direction: column;
  .form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    #search {
      height: 25px;
      font-size: 20px;
      font-size: 20px;
    }
  }
}

.result {
  p {
    font-size: large;
    margin: 5px 0px;
  }
}

.preview-image {
  width: 200px;
  margin: 10px 0px;
}