.search-header {
  font-size: x-large;
}

.search-form {
  display: flex;
  flex-direction: column;
  #search {
    height: 25px;
    font-size: 20px;
    font-size: 20px;
  }
}

.result {
  p {
    font-size: large;
    margin: 16px 0px;
  }
}